<section class="text-gray-700 body-font overflow-hidden bg-white" style="position: relative; z-index: 1;">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img alt="ecommerce" class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200"
                [src]="image">
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">{{ getCategoryName(id_category!) }}</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{name}}</h1>

                <p class="leading-relaxed">{{desc}}</p>
                <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">

                </div>
                <div><span class="title-font font-medium text-2xl text-gray-900">{{price}} VNĐ</span></div>
                <div class="flex">
                    <div class="flex">
                        <p class="pt-1">Quantity :</p>&nbsp;&nbsp;
                        <input type="number" [(ngModel)]="quantity" class="border-1 border-black">
                    </div>
                    <button
                        class="flex ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded"
                        (click)="addToCart()">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white  py-8 lg:py-16 antialiased">
    <div class="max-w-2xl mx-auto px-4">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-lg lg:text-2xl font-bold text-gray-900">Comment</h2>
        </div>
        <form class="mb-6">
            <div class="flex items-center pb-2">
                <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                    <svg class="w-4 h-4" [class.text-yellow-300]="star <= selectedStars"
                        [class.text-gray-300]="star > selectedStars" (click)="onSelect(star)" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                </ng-container>
            </div>

            <div>
                <label for="comment" class="sr-only">Your comment</label>
                <textarea rows="6" placeholder="Write a comment" name="content" [(ngModel)]="content"
                    class="border-2 border-black rounded w-full"></textarea>
            </div>
            <button type="submit" (click)="comment()"
                class="inline-flex items-center py-2.5 px-4 text-xs font-medium border-1 border-blue-500 text-center text-blue-500 rounded-lg focus:ring-4 focus:ring-primary-200 hover:bg-blue-800 hover:text-white">
                Post comment
            </button>
        </form>

    </div>
</section>
<div *ngIf="comments.length > 0" class="bg-white py-8 lg:py-16 antialiased px-[10%]">
    <section>
        <article class="p-6 mb-3 text-base bg-white border-t border-gray-200 " *ngFor="let comment of comments">
            <footer class="flex justify-between items-center mb-2">
                <div class="flex items-center">
                    <p class="inline-flex items-center mr-3 text-sm text-gray-900  font-semibold">
                        {{ getUserName(comment.id_user) }}
                    </p>

                    <div class="flex items-center">
                        <ng-container *ngFor="let star of [].constructor(comment.star); let i = index">
                            <svg class="w-4 h-4 {{ i < comment.star ? 'text-yellow-300' : 'text-gray-300 dark:text-gray-500' }} ms-1"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                viewBox="0 0 22 20">
                                <path
                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z">
                                </path>
                            </svg>
                        </ng-container>
                    </div>

                </div>
            </footer>
            <p class="text-gray-500 ">{{ comment.content }}</p>
        </article>

    </section>
</div>