<div class="pt-[5%]"></div>
<input type="text" placeholder="Name"
    class="w-full p-2 mb-4 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
    [(ngModel)]="name">
<input type="number" placeholder="Phone Number"
    class="w-full p-2 mb-4 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
    [(ngModel)]="phoneNumber" maxlength="10">

<input type="text" placeholder="Address"
    class="w-full p-2 mb-4 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
    [(ngModel)]="address">


<button type="button"
    class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 focus:outline-none focus:shadow-outline-green active:bg-green-800"
    (click)="update()">
    Gửi
</button>