<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full text-left text-sm font-light">
                    <thead class="border-b font-medium dark:border-neutral-500">
                        <tr>
                            <th scope="col" class="px-6 py-4">Quantity of products</th>
                            <th scope="col" class="px-6 py-4">Total price</th>
                            <th scope="col" class="px-6 py-4">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b dark:border-neutral-500" *ngFor="let bill of bills">
                            <td class="whitespace-nowrap px-6 py-4">{{ getTotalQuantity(bill) }}</td>
                            <td class="whitespace-nowrap px-6 py-4">{{ bill.totalAmount }}</td>
                            <td class="whitespace-nowrap px-6 py-4">
                                <select id="category" [(ngModel)]="bill.status" (change)="updateBillStatus(bill)">
                                    <option *ngFor="let status of statusList" [value]="status.id">{{ status.name }}</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
